*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(58, 57, 57);
}
h1, h3, p, label{
    color: white;
}
button{
    border-radius: 5px;
    padding: 3px 5px;
    cursor: pointer;
    color: black;
    background-color: rgb(204, 174, 4);
    margin-top: 15px;
}