<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body id="main">
    <div class="container">
        <form action="/process_form" method="post">
            <!-- Do not forget to add method='post' if you are doing to use POST and redirect.-->
            <h1 id="title">Dojo Survey</h1>
            <div class="input-box">
                <p>Your name: </p>
                <input type="text" class="input" name="username">
            </div>
            <div class="input-box">
                <p>Dojo Location: </p>
                <select name="location" class="input">
                    <option value="none"></option>
                    <option value="San Jose">San Jose</option>
                    <option value="Seattle">Seattle</option>
                    <option value="Burbank">Burbank</option>
                    <option value="Online">Online</option>
                </select>
            </div>
            <div class="input-box">
                <p>Favorite language: </p>
                <div class="radio">
                    <label>Python</label>
                    <input type="radio" name="language" value="Python">
                    <label>Javascript</label>
                    <input type="radio" name="language" value="Javascript">
                    <label>Java</label>
                    <input type="radio" name="language" value="Java">
                    <label>C++</label>
                    <input type="radio" name="language" value="C++">
                    <label>CSS</label>
                    <input type="radio" name="language" value="CSS">
                </div>
            </div>
            <div class="input-box">
                <p>Comments (optional): </p>
                <textarea name="comments" class="input" cols="30" rows="10"></textarea>
            </div>
            <button id='submit'>Submit</button>
        </form>
    </div>
    <script src="../static/js/script.js"></script>
</body>

</html>