<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="input">
            <p>Your name: </p>
            <input type="text">
        </div>
        <div class="input">
            <p>Dojo Location: </p>
            <select name="" id="">
                <option value="none"></option>
                <option value="san_jose">San Jose</option>
                <option value="seattle">Seattle</option>
                <option value="burbank">Burbank</option>
                <option value="online">Online</option>
            </select>
        </div>
        <div class="input">
            <p>Favorite language: </p>
            <select name="language" id="">
                <option value="none"></option>
                <option value="python">Python</option>
                <option value="javascript">Javascript</option>
                <option value="java">Java</option>
                <option value="c++">C++</option>
                <option value="css">CSS</option>
            </select>
        </div>
    </div>
</body>
</html>