*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(58, 57, 57); */
}
button{
    border-radius: 5px;
    padding: 6px 10px;
    cursor: pointer;
}
.four-o-four{
    text-align: center;
}