*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Robot', sans-serif;
}
body{
    background-color: rgb(58, 57, 57);
}
h1{
    color: white;
}
p, label{
    color: white;
}
button{
    border-radius: 5px;
    padding: 6px 10px;
    cursor: pointer;
}
.container{
    margin-top: 100px;
    border: 1px solid black;
    max-width: 500px;
    min-width: 400px;
    padding: 15px 25px;
    background-color: #33393E;
}
.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
}
.input{
    border-radius: 5px;
}
#main{
    display: flex;
    justify-content: center;
}
#title{
    color: #FEC008;
    margin: 10px 0px;
}
#submit{
    width:80px;
    background-color: #FEC008;
    border: 1px solid black;
}
#submitHover{
    width: 80px;
    background-color: #33393E;
    border: none;
}
#username{
    color: #057AFE;
}
/* 404 page */
.four-o-four{
    text-align: center;
}