*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(58, 57, 57);
}
h1{
    color: white;
}
p{
    color: white;
}
button{
    border-radius: 5px;
    padding: 6px 10px;
    cursor: pointer;
}
.container{
    border: 3px solid black;
    border-radius: 5px;
    max-width: 500px;
    padding: 12px 20px;
}
.input{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
}
.four-o-four{
    text-align: center;
}