<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <style>
        *{
            text-align: center;
            background-color: rgb(58, 57, 57);
            color: white;

        }
        body{
            margin-top: 200px;
        }
        h1{
            font-size: 100px;
        }
        p{
            font-size: 20px;
        }
        button{
            border-radius: 5px;
            padding: 6px 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Page Not Found</h1>
    <p>What you were looking for is just not there.</p>
    <!-- <p><a href="{{url_for('count')}}">go somewhere nice</a></p> -->
    <form action="/">
        <button>Click here to go home</button>
    </form>
</body>
</html>