*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    /* background-color: rgb(58, 57, 57); */
}
body{
    padding: 30px 50px;
    /* background-color: rgb(58, 57, 57); */
    margin: 0 20%;
}
button{
    border-radius: 5px;
    padding: 3px 5px;
    cursor: pointer;
    color: black;
    background-color: rgb(204, 174, 4);
    margin-top: 15px;
}

/* home/display page */


/* create form page */
#create_header{
    display: flex;
    vertical-align: baseline;
    gap: 100px;
}
#create_header a{
    vertical-align: bottom;
}
label{
    margin-right: 5px;
}
input{
    margin-right: 15px;
}


/* 404 */
.four-o-four{
    text-align: center;
}