*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
body{
    /* background-color: rgb(58, 57, 57); */
    background-image: linear-gradient(rgb(58, 57, 57), rgb(61, 60, 60), rgb(77, 73, 55));
    padding: 21px 35px;
    height: 1080px;
}
#body{
    width: 750px;
    color: white;
    display: inline-block;
}
h1, p, h3{
    margin-bottom: 10px;
}

/* header */
.gold{
    display: flex;
    justify-content: space-between;
    text-align: auto;
}
#gold-display{
    color: gold;
    margin-bottom: 30px;
}


/* center content */
.button, button{
    border-radius: 5px;
    padding: 6px 10px;
    cursor: pointer;
}
.game{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.container{
    border: 1px solid black;
    padding: 15px 25px;
    background-color: #33393E;
    margin-bottom: 30px;
}


/* footer */
#green{
    color: green;
}
#red{
    color:red
}
#activies-display{
    text-align: left;
}
.activies-container{
    background-color: white;
    height: 100px;
    overflow: auto;
}
.activies-container p{
    text-align: left;
}


/* 404 */
.four-o-four{
    text-align: center;
}