*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
button{
    border-radius: 5px;
    padding: 3px 5px;
    cursor: pointer;
    color: black;
    background-color: rgb(204, 174, 4);
    margin-top: 15px;
}
body{
    margin: 0 20%;
    background-color: rgb(58, 57, 57);
}
label{
    margin-right: 20px;
}
input{
    border-radius: 5px;
}
.box{
    border-radius: 10px;
}
.underline{
    border-bottom: 1px solid white;
    text-decoration: none;
}